body, html {
    height: 100%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: rgba(20,20,20,0.5);
    width: 100%;


}
header > p{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2%;
    font-size: 40px;
    margin-top: 0.5px;
    margin-bottom: 0.5px;
    color: lightblue;
    font-weight: bold;
}

span{
    color: #1075a9;
}

nav{
    width: 100%;
    /*float: right;*/
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
}

li a:hover{
    background-color: #111;
    transition: 0.8s;
}

.parallax {
    background-image: url("images/Dark_Wood_Texture-5695311.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.parallax>h1{
    padding-top: 20%;
    margin: 0 auto;
    font-size: 50px;
    color: #1075a9;

}

.overmij{
    background-image: url("images/laptop_cup_glasses_plant_114948_1920x1080.jpg");
    height: 80%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.overmij>h2{
    margin: 0 auto;
    padding-top: 7%;
    font-size: 50px;
    color: white;
}

article{
    background-color: rgba(20,20,20,0.5);
    width: 45%;
    text-align: center;
    display: inline-block;
    border-radius: 30px;
    margin-top: 50px;
}

article>p{
    font-size: 20px;
    color: white;
    margin: 2%;
}

.opleiding{
    background-image: url("images/blur-background-3840x2160-spectrum-electromagnetic-4k-901.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.opleiding>h2{
    margin: 0 auto;
    padding-top: 7%;
    font-size: 50px;
    color: white;
}


.parallax>h2{
    margin: 0 auto;
    padding-top: 7%;
    font-size: 50px;
    color: white;
}

input[type=text],[type=email], select, textarea{
    width: 50%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 1%;
    margin-bottom: 5px;
    resize: vertical;
    position: center;
}

textarea{
    font-family: Arial, sans-serif;
    height: 150px;
}

input[type=submit]{
    background-color: darkslategray;
    color: white;
    padding: 0.5% 2%;
    margin-left: 25%;
    margin-top: 1%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 50%;
    font-size: 30px;
}

input[type=submit]:hover {
    background-color: #2b2b2b;
    transition: 0.2s;
}

.gallery{
    background-image: url("images/abstract-motion-background-blue-cyan-purple-4k-and-full-hd_nyw56exgg__F0000.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
}

.gallery>h2{
    margin: 0 auto;
    padding-top: 7%;
    padding-left: 6.5%;
    font-size: 50px;
    color: white;
}

.gallery2{
    margin-left: 5%;
    margin-top: 2%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: center;
}

.item>a>img{
    width: 400px;
    height: 200px;
    margin: 20px;
    margin-top: 5%;
    opacity: 0.5;
    border-radius: 20px;
}

.item>a>img:hover{
    transition: 0.5s;
    opacity: 1;
}

footer{
    width: 100%;
    height: 20%;
    background-color: #2C2929;
    bottom: 0;
    text-align: center;
}

footer>p{
    margin: 0 auto;
    padding-top: 50px;
    color: white;
    width: 50%;
}

.fa {
    padding: 10px;
    font-size: 50px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 10px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: darkslategray;
    color: white;
}

.fa-twitter {
    background: darkslategray;
    color: white;
}

.fa-snapchat-ghost {
    background: darkslategray;
    color: white;
}

.fa-instagram {
    background: darkslategray;
    color: white;
}

.fa-github{
    background-color: darkslategray;
    color: white;
}